.users {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
    width: 90%;
    margin: 10px;
  }

  &__table {
    width: 100%;
  }

  &__img {
    width: 64px;
    height: 64px;
    border-radius: 50px
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
}
